{
    'ur10e': {
        'interface': {'type': 'ur', 'ip_address': '192.168.56.101'},  # Replace with actual IP
        'sensor':[
            {'range':(-4*np.pi/2, 4*np.pi/2), 'noise':0.05, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'ur_arm_jp1'},
            {'range':(-4*np.pi/2, 4*np.pi/2), 'noise':0.05, 'hdr_id':1, 'scale':1, 'offset':0, 'name':'ur_arm_jp2'},
            {'range':(-4*np.pi/2, 4*np.pi/2), 'noise':0.05, 'hdr_id':2, 'scale':1, 'offset':0, 'name':'ur_arm_jp3'},
            {'range':(-4*np.pi/2, 4*np.pi/2), 'noise':0.05, 'hdr_id':3, 'scale':1, 'offset':0, 'name':'ur_arm_jp4'},
            {'range':(-4*np.pi/2, 4*np.pi/2), 'noise':0.05, 'hdr_id':4, 'scale':1, 'offset':0, 'name':'ur_arm_jp5'},
            {'range':(-4*np.pi/2, 4*np.pi/2), 'noise':0.05, 'hdr_id':5, 'scale':1, 'offset':-np.pi/2, 'name':'ur_arm_jp6'},
            # {'range':(0.00, .04), 'noise':0.05, 'hdr_id':8, 'scale':1, 'offset':0, 'name':'fr_fin_jp2'},

            # {'range':(-2*np.pi, np.pi), 'noise':0.05, 'hdr_id':-1, 'scale':1, 'offset':0, 'name':'fr_arm_jv1'},
            # {'range':(-2*np.pi, np.pi), 'noise':0.05, 'hdr_id':-1, 'scale':1, 'offset':0, 'name':'fr_arm_jv2'},
            # {'range':(-2*np.pi, np.pi), 'noise':0.05, 'hdr_id':-1, 'scale':1, 'offset':0, 'name':'fr_arm_jv3'},
            # {'range':(-2*np.pi, np.pi), 'noise':0.05, 'hdr_id':-1, 'scale':1, 'offset':0, 'name':'fr_arm_jv4'},
            # {'range':(-2*np.pi, np.pi), 'noise':0.05, 'hdr_id':-1, 'scale':1, 'offset':0, 'name':'fr_arm_jv5'},
            # {'range':(-2*np.pi, np.pi), 'noise':0.05, 'hdr_id':-1, 'scale':1, 'offset':0, 'name':'fr_arm_jv6'},
            # {'range':(-2*np.pi, np.pi), 'noise':0.05, 'hdr_id':-1, 'scale':1, 'offset':0, 'name':'fr_arm_jv7'},
            # {'range':(-2*np.pi, np.pi), 'noise':0.05, 'hdr_id':-1, 'scale':1, 'offset':0, 'name':'fr_fin_jv1'},
            # {'range':(-2*np.pi, np.pi), 'noise':0.05, 'hdr_id':-1, 'scale':1, 'offset':0, 'name':'fr_fin_jv2'},
        ],

        'actuator':[
            {'pos_range':(-4*np.pi/2, 4*np.pi/2), 'vel_range':(-2*np.pi/3000, 2*np.pi/3000), 'hdr_id':0, 'scale':1, 'offset':0, 'name':'shoulder_pan_act'},
            {'pos_range':(-4*np.pi/2, 4*np.pi/2), 'vel_range':(-2*np.pi/3000, 2*np.pi/3000), 'hdr_id':1, 'scale':1, 'offset':0, 'name':'shoulder_lift_act'},
            {'pos_range':(-4*np.pi/2, 4*np.pi/2), 'vel_range':(-np.pi/1000, np.pi/1000), 'hdr_id':2, 'scale':1, 'offset':0, 'name':'elbow_act'},
            {'pos_range':(-4*np.pi/2, 4*np.pi/2), 'vel_range':(-np.pi/1000, np.pi/1000), 'hdr_id':3, 'scale':1, 'offset':0, 'name':'wrist_1_act'},
            {'pos_range':(-4*np.pi/2, 4*np.pi/2), 'vel_range':(-np.pi/1000, np.pi/1000), 'hdr_id':4, 'scale':1, 'offset':0, 'name':'wrist_2_act'},
            {'pos_range':(-4*np.pi/2, 4*np.pi/2), 'vel_range':(-np.pi/1000, np.pi/1000), 'hdr_id':5, 'scale':1, 'offset':np.pi/2, 'name':'wrist_3_act'},
        ]
    },
    # Other devices can be added here
}